<div class="row">
    <div class="col-6">
        <app-doughnut-graph
        title="Soccer"
        [labels]="soccerLabels"
        [datasets]="soccerData"
        ></app-doughnut-graph>
    </div>
    <div class="col-6">
        <app-doughnut-graph
        title="Music"
        [labels]="musicLabels"
        [datasets]="musicData"></app-doughnut-graph>
    </div>
    <div class="col-6">
        <app-doughnut-graph
        title="Soccer"
        [labels]="soccerLabels"
        [datasets]="soccerData"
        ></app-doughnut-graph>
    </div>
    <div class="col-6">
        <app-doughnut-graph
        title="Music"
        [labels]="musicLabels"
        [datasets]="musicData"></app-doughnut-graph>
    </div>
</div>